/* start global styles */
body {
  font-family: "Poltawski Nowy", serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  --maincolor: #3396d3;
  --secondary: #fff0ce;
  --tertiary: #e4e4e4;
  --background: rgb(247, 251, 255);
  --backgroundTwo: #fafafa;
}

@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
/* End global styles */

/* start header styles */
.Header {
  background-color: var(--background);
  padding: 8px 16px;
  margin: 0;
  box-shadow: 1px 3px 40px var(--tertiary);
  position: sticky;
  top: 0;
}
.containar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 90px;
}
.header-right {
  display: flex;
  gap: 10px;
}
.notification,
.calendar {
  width: 45px;
  height: 45px;
  background-color: var(--background);
  color: var(--maincolor);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 3px 10px var(--tertiary);
  border: none;
  position: relative;
  text-decoration: none;
}

.notice {
  display: none;
  position: absolute;
  right: 20px;
  top: 70px;
  background: #fff;
  width: 320px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.notice h3 {
  margin-bottom: 14px;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}
.tabs button {
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
}
.tabs button.active {
  color: var(--maincolor);
  border-bottom: 2px solid var(--maincolor);
}
.notification-item img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.notification-item {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--background);
  padding: 6px 8px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px var(--tertiary);
}
.view-notifications {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  color: var(--maincolor);
  font-size: medium;
  font-weight: bold;
  margin: 10px;
  padding-top: 10px;
}
.notice:target {
  display: block;
}
#pick-date {
  position: absolute;
  top: 35px;
  right: 0;
  display: none;
}

.calendar:focus-within #pick-date {
  display: block;
}
.person-pic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 6px 7px 10px var(--tertiary);
}
.view-button {
  padding-left: 8px;
  padding-right: 8px;
  background-color: var(--maincolor);
  color: var(--secondary);
  border: none;
  border-radius: 12px;
  font-size: medium;
}
.modal {
  display: none;
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 1000;
}

.modal:target {
  display: block;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 22px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
#info:target {
  display: block;
}
.persone-info {
  display: flex;
  align-items: center;

  gap: 8px;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
div > h4 {
  margin: 0;
}
.job {
  margin: 0;
}
div > img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
div > hr {
  border: none;
  height: 2px;
  background-color: var(--tertiary);
  margin: 6px auto;
}
/* End header styles */

/* start navbar styles */

nav {
  background-color: var(--background);
  box-shadow: 1px 3px 40px var(--tertiary);
  position: sticky;
  width: 220px;
  top: 70px;
  height: calc(100vh - 70px);
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
li > a {
  text-decoration: none;
  font-weight: medium;
  padding: 10px 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 80%;
  color: rgb(31, 31, 31);
}
a.active {
  background-color: var(--maincolor);
  color: var(--backgroundTwo);
  box-shadow: 3px 3px 10px var(--tertiary);
}
.logout-btn {
  text-decoration: none;
  border: none;
  background: none;
  color: #ff5151;
  margin-left: 12px;
  font-weight: bold;
  margin-bottom: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 8px;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-content {
  background-color: var(--backgroundTwo);
  padding: 24px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 30%;
  left: 40%;
  width: 350px;
}
.buttons > a {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin: 12px;
}
.cancel-btn {
  background-color: var(--tertiary);
  color: rgb(109, 109, 109);
}
.confirm {
  background-color: #ff5151;
  color: var(--backgroundTwo);
}
.popup-content > h3 {
  margin-bottom: 6px;
}
.popup-content > img {
  width: 60px;
  height: 60px;
  margin-top: 16px;
}
.popup-content > p {
  text-align: center;
  color: rgb(109, 109, 109);
  margin-top: 0;
  margin-bottom: 16px;
}

#logout:target {
  display: block;
}
/* End navbar styles */
